html, body {
    margin: 0;
    padding: 0;
  }
  canvas {
    display: block;
  }
  
.developing-image{
  width: 70%;
  height: auto;
}

.developing-description{
  margin-top: 0px;
  margin-bottom: 50px;
}